<div id="myModal" class="modal">
  <div class="modal-container">
    <div class="modal-header">
      <h3>새로운 고양이 정보 등록하기</h3>
    </div>
    <div class="modal-content">
      <label for="modal-content-title">제목</label>
      <input
        type="text"
        id="modal-content-title"
        placeholder="어떤 고양이들인지 적어주세요"
      />
      <label for="modal-content-food">밥은 있나요?</label>
      <input type="checkbox" value="" id="modal-content-food" />
      <label for="modal-content-water">물은 있나요?</label>
      <input type="checkbox" id="modal-content-water" />
      <label for="modal-content-shelter">집은 있나요?</label>
      <input type="checkbox" id="modal-content-shelter" />
      <label for="modal-content-note">특이사항</label>
      <textarea rows="15" cols="30" id="modal-content-note" value=""></textarea>
    </div>
    <div class="modal-footer">
      <button class="modal-close">취소</button>
      <button class="modal-add">등록</button>
    </div>
  </div>
</div>
