<div id="updateModal" class="update-modal">
  <div class="update-modal-container">
    <div class="update-modal-header">
      <h3>고양이 정보 업데이트 하기</h3>
    </div>
    <div class="update-modal-content">
      <label for="update-modal-content-title">제목</label>
      <input
        type="text"
        id="update-modal-content-title"
        placeholder="어떤 고양이들인지 적어주세요"
      />
      <label for="update-modal-content-food">밥은 있나요?</label>
      <input type="checkbox" id="update-modal-content-food" />
      <label for="update-modal-content-water">물은 있나요?</label>
      <input type="checkbox" id="update-modal-content-water" />
      <label for="update-modal-content-shelter">집은 있나요?</label>
      <input type="checkbox" id="update-modal-content-shelter" />
      <label for="update-modal-content-note">특이사항</label>
      <textarea rows="15" cols="30" id="update-modal-content-note"></textarea>
    </div>
    <div class="update-modal-footer">
      <button class="update-modal-close">취소</button>
      <button class="update-modal-add">등록</button>
    </div>
  </div>
</div>
